$green-900: #63A60F;
$green-200: #E0EDCF;
$dark-800: #31352B;
$red-900: #CF3E3B;

%lato-300 {
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
}

%lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-600 {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}